.channels-container {
  width: 19.6%;
  height: -webkit-fill-available;
  background-color: #fff;
  border-radius: 30px;
}

.main-chat-container {
  width: 54.7%;
  height: -webkit-fill-available;
  background-color: #fff;
  border-radius: 30px;
}

.secondary-chat-container {
  width: 25.4%;
  height: -webkit-fill-available;
  background-color: #fff;
  border-radius: 30px;
}
