<div class="container">
  <img class="logo" src="../../assets/img/logo_with_text.svg" />

  <div class="recover-container">
    <div class="greet">
      <a routerLink="/login" class="return-arrow">
        <img src="../../assets/img/arrow_back.svg" />
      </a>
      <h1>Passwort zurücksetzen</h1>
      <span>Bitte geben Sie Ihre E-Mail-Adresse ein. </span>
    </div>

    <form (submit)="recoverUser()" #createUserForm ngNativeValidate>
      <div class="email-container" [class.focused]="isEmailFocused">
        <img src="../../assets/img/mail.svg" />
        <input
          required
          [(ngModel)]="email"
          name="email"
          id="email"
          type="email"
          placeholder="beispielname@email.com"
          (focus)="onFocusEmail()"
          (blur)="onBlurMail()"
        />
      </div>

      <div class="text-container">
        <p>
          Wir senden Ihnen eine Email, über die Sie Ihr Passwort ändern können.
        </p>
      </div>

      <button
        class="submit"
        (click)="recoverUser()"
        [disabled]="this.email.length === 0"
        type="submit"
      >
        E-Mail senden
      </button>
    </form>
  </div>

  <div class="policies">
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
  </div>
</div>
