<div class="container">
  <img class="logo" src="../../assets/img/logo_with_text.svg" />

  <div class="recover-container">
    <div class="greet">
      <a routerLink="/login" class="return-arrow">
        <img src="../../assets/img/arrow_back.svg" />
      </a>
      <h1>Passwort zurücksetzen</h1>
    </div>

    <form #createUserForm ngNativeValidate>
      <div class="password-container" [class.focused]="isPwdFocusedFirst">
        <input
          required
          [(ngModel)]="newPassword"
          type="password"
          placeholder="Neues Passwort"
          (focus)="onFocusPwdFirst()"
          (blur)="onBlurPwdFirst()"
        />
      </div>
      <div class="password-container" [class.focused]="isPwdFocusedSecond">
        <input
          required
          [(ngModel)]="confirmedPassword"
          id="confirmed"
          type="password"
          placeholder="Neues Passwort bestätigen"
          (focus)="onFocusPwdSecond()"
          (blur)="onBlurPwdSecond()"
        />
      </div>

      <button
        type="button"
        class="submit"
        (click)="resetPassword()"
        [disabled]="confirmedPassword.length === 0"
        type="submit"
      >
        Passwort ändern
      </button>
    </form>
  </div>

  <div class="policies">
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
  </div>
</div>
