<div  class="position-thread-contant">
  <div class="position-header">
    <div class="thread-contant">
      <div class="thread">
        Thread
      </div>
      <div class="channel">
        # Entwicklungsteam
      </div>
    </div>
    <div class="position-close" (click)="closeThreads()">
      <img src="../../assets/icons/close.svg" alt="">
    </div>
  </div>
  <div class="contant-scrollbar">
    <div class="position-question-contant">
      <div class="profil-img">
        <img src="../../assets/img/avatars/eliasneumann.svg" alt="">
      </div>
      <div>
        <div class="position-contant">
          <div class="info">
            <div class="name" (click)="showUserProfil()">
              {{threads.userName}}
            </div>
            <div>
              {{threads.time}}
            </div>
            <div class="img-react" (click)="toggleEmojiPicker(4)">

            </div>
            <div>
              <emoji-mart class="emoji-mart" *ngIf="showEmojiPicker[4]" (emojiSelect)="addEmoji($event)"
                size="50px 50px" title="Pick your emoji…"></emoji-mart>
            </div>
          </div>
          <div class="question">
            {{threads.text}}
          </div>
          <div class="answer-icons">
            <div class="answer-reaction">
              <img src="../../assets/icons/51. Emojis.svg" alt="">
              <div>
                1
              </div>
            </div>
            <!-- <div class="answer-emojis" (click)="toggleEmojiPicker(4)" >

                        </div> -->

          </div>
        </div>
      </div>
    </div>

    <div class="separate">
      <div class="separate-answer">
        {{threads.answers.length}} Antworten
      </div>
      <div class="seperate-line">
      </div>
    </div>

    <div *ngFor="let thread of threadAnswersJson  let i=index "  class="position-question-contant">
      <div class="profil-img">
        <img src="../../assets/img/avatars/sofiamueller.svg" alt="">
      </div>
      <div>
        <div class="position-contant">
          <div class="info">
            <div class="name" (click)="showUserProfil()">
              {{thread['userName']}}
            </div>
            <div>
             {{thread['time']}}
            </div>
            <div class="img-react" (click)="toggleEmojiPicker(3)">
            </div>
            <div>
              <emoji-mart class="emoji-mart" *ngIf="showEmojiPicker[3]" (emojiSelect)="addEmoji($event)" size="25%"
                title="Pick your emoji…"></emoji-mart>
            </div>
          </div>
          <div class="question">
            {{thread['text']}}
          </div>
          <div class="answer-icons">
            <div class="answer-reaction">
              <img src="../../assets/icons/51. Emojis.svg" alt="">
              <div>
                1
              </div>
            </div>
            <!-- <div class="answer-emojis"  >

                        </div> -->

          </div>
        </div>
      </div>
    </div>

    <!-- <div class="position-question-contant-reverse">
      <div class="profil-img">
        <img src="../../assets/img/avatars/sofiamueller.svg" alt="">
      </div>
      <div>
        <div class="position-contant">
          <div class="info">
            <div class="name" (click)="showUserProfil()">
              Name
            </div>
            <div>
              14:30 Uhr
            </div>
            <div class="img-react" (click)="toggleEmojiPicker(2)">
            </div>
            <div>
              <emoji-mart class="emoji-mart" *ngIf="showEmojiPicker[2]" (emojiSelect)="addEmoji($event)"
                title="Pick your emoji…"></emoji-mart>
            </div>
          </div>
          <div class="question-reverse">
            Ja das ist es.
          </div>
          <div class="answer-icons">
            <div class="answer-reaction">
              <img src="../../assets/icons/51. Emojis.svg" alt="">
              <div>
                1
              </div>
            </div>
             <div class="answer-emojis"  >

                        </div> 

          </div>
        </div>
      </div>
    </div> -->
    <!--Container to write in chat-->
    <div class="message-box-cont" *ngIf="messageBox">
      <div class="message-box" [class.focused]="taIsFocused">
        <textarea class="font400-normal auto-resizable-textarea" placeholder="Antworten..."
          (input)="onTextareaInput($event)" [(ngModel)]="message" (focus)="inputFocused()" (focus)="textAreaFocused()"
          (blur)="textAreaBlurred()"></textarea>
        <div class="image-preview-cont" #imagePreviewCont>
          <img id="image-preview" #imagePreview />
        </div>

        <div class="send-mesg-box">
          <div class="send-msg-icons">
            <div class="icon-plus icons" (click)="fileInput.click()">
              <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none" />
              <div></div>
            </div>
            <div class="icons-line"></div>
            <div class="icon-s icons" (click)="toggleEmojiPicker(0)">
              <div></div>
            </div>
            <div>
              <emoji-mart class="emoji-mart" *ngIf="showEmojiPicker[0]" (emojiSelect)="addEmoji($event)"
                title="Pick your emoji…"></emoji-mart>
            </div>
            <div class="icon-et icons">
              <div></div>
            </div>
          </div>

          <div class="send-msg" (click)="sendChannelMsg()"></div>

        </div>
      </div>
    </div>
  </div>



</div>