<div>
    <div class="position-header">
        <div class="thread-contant">
            <div class="thread">
                Thread
            </div>
            <div class="channel">
                # Entwicklungsteam
            </div>
        </div>
        <div class="position-close">
            <img src="../../assets/icons/close.svg" alt="">
        </div>
    </div>

    <div class="position-question-contant">
        <div class="profil-img">
            <img src="../../assets/img/avatars/eliasneumann.svg" alt="">
        </div>
        <div>
            <div class="position-contant">
                <div class="info">
                    <div class="name">
                        Name
                    </div>
                    <div>
                        14:25 Uhr
                    </div>
                </div>
                <div class="question">
                    Welche Version ist aktuell von Angular?
                </div>
            </div>
        </div>
    </div>

    <div class="separate">
        <div class="separate-answer">
            2 Antworten
        </div>
        <div class="seperate-line">
        </div>
    </div>

    <div class="position-question-contant">
        <div class="profil-img">
            <img src="../../assets/img/avatars/sofiamueller.svg" alt="">
        </div>
        <div>
            <div class="position-contant">
                <div class="info">
                    <div class="name">
                        Name
                    </div>
                    <div>
                        14:30 Uhr
                    </div>
                </div>
                <div class="question">
                    Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint, dass die aktuelle Version Angular 13 ist. Vielleicht weiß Frederik, ob es wahr ist.
                </div>
            </div>
        </div>
    </div>

    <div class="position-question-contant-reverse">
        <div class="profil-img">
            <img src="../../assets/img/avatars/sofiamueller.svg" alt="">
        </div>
        <div>
            <div class="position-contant">
                <div class="info">
                    <div class="name" (click)="showUserProfil()">
                        Name
                    </div>
                    <div>
                        14:30 Uhr
                    </div>
                </div>
                <div class="question">
                    Ja das ist es.
                </div>
            </div>
        </div>
    </div>
</div>