<div class="container">
  <img class="logo" src="../../assets/img/logo_with_text.svg" />
  <div class="reg-container">
    Neu bei DABubble?
    <a routerLink="/register">Konto erstellen</a>
  </div>

  <div class="login-container">
    
    <div class="greet">
      <h1>Anmeldung</h1>
      <span
        >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </span>
    </div>


    <form (submit)="loginUser()" #loginUserForm ngNativeValidate>
        <div class="email-container" [class.focused]="isEmailFocused">
            <img src="../../assets/img/mail.svg">
            <input required id="email" type="email" placeholder="beispielname@email.com" (focus)="onFocusEmail()" (blur)="onBlurMail()" />
        </div>
        <div class="pwd-container" [class.focused]="isPwdFocused">
            <img src="../../assets/img/lock.svg">
      <input required id="password" type="password" placeholder="Passwort" (focus)="onFocusPwd()" (blur)="onBlurPwd()" />
            </div>

        <a class="reset" routerLink="/recover">Passwort vergessen?</a>
    

    <div class="or-container">
        <div class="divider"></div>
        <span>ODER</span>
        <div class="divider"></div>
    </div>

    <div class="google">
        <img src="../../assets/img/google.svg">
        <span>Anmelden mit Google</span>
    </div>

    <div class="btn-container">
        <button class="submit" type="submit">
            Anmelden
        </button>
        <button class="guest" type="button">Gäste-Login</button>
    </div>
</form>
  </div>

  <div class="policies">
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
  </div>
</div>
