.title-container {
  display: flex;
  width: 306px;
  justify-content: space-between;
  align-items: center;
}

.channel-name {
  display: flex;
  width: 250px;
  padding-right: 0px;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.channel-logo {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-image: url(/assets/icons/Rectangle.svg);
}

.channel-title {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.title {
  color: var(--Black, #000);
  font-size: 24px;
}

.edit-icon {
  padding: 4px;
  cursor: pointer;

  .icon {
    background-image: url(/assets/icons/edit.svg);
    background-size: 20px;
    background-position: center;
  }
  &:hover {
    .icon {
      background-image: url(/assets/icons/edit_blue.svg);
      background-size: 20px;
    }
    border-radius: 20px;
    background: var(--Bg-color, #eceefe);
  }
}

.final-menu {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.channel-container-head {
  background: white !important;
  padding: 3px 0px !important;
  width: 175px;
  padding-bottom: 13px !important;
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
}

.channels-menu {
  width: 100%;
  max-height: 190px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

.channels-menu-up {
  width: 100%;
}

.ng-tns-c2690051721-1 {
  padding: 0;
}

.mat-expansion-panel-header:not([aria-disabled="true"]) {
  cursor: initial !important;
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  background: none !important;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px !important;
}

.channels-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon-expansion {
    background-image: url(/assets/icons/arrow_drop_down.svg);
    background-position: center;
    padding-right: 15px;
    transform: rotate(-90deg);
  }

  .workspaces {
    background-image: url(/assets/icons/workspaces.svg);
    padding-right: 10px;
    background-size: 24px;
  }

  .channels-title {
    color: var(--Black, #000);
    font-size: 20px;
  }

  &:hover {
    .channels-title {
      color: var(--Purple-3, #535af1);
    }

    .workspaces {
      background-image: url(/assets/icons/workspaces_blue.svg);
    }

    .icon-expansion {
      background-image: url(/assets/icons/arrow_drop_down_blue.svg);
    }
  }

  &.clicked {
    .icon-expansion {
      transform: rotate(0deg);
    }
  }
}

.channel-add {
  display: flex;
  padding: 3px;
  align-items: center;
  gap: 10px;
  margin-top: 13px;

  .add-icon {
    background-image: url(/assets/icons/add.svg);
    background-size: 24px;
    cursor: pointer;
  }

  &:hover {
    .add-icon {
      background-image: url(/assets/icons/add_blue.svg);
    }
    border-radius: 20px;
    background: var(--Bg-color, #eceefe);
  }
}

.ng-trigger-indicatorRotate {
  display: none !important;
}

.channels-container {
  height: 140px;
  overflow: scroll;
}

.channels-list-container {
  padding-bottom: 13px;
  gap: 13px;
  display: flex;
  flex-direction: column;
}

.channels-list {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 20px;

  div {
    background-image: url(/assets/icons/tag.svg);
    background-size: cover;
    width: 16px;
    height: 16px;
  }

  a {
    color: var(--Black, #000);
    font-size: 18px;
  }

  &:hover {
    div {
      background-image: url(/assets/icons/tag_blue.svg) !important;
    }

    a {
      color: var(--Purple-3, #535af1) !important;
    }
    background: var(--Bg-color, #eceefe) !important;
  }
}

.add-new-chanel {
  display: inline-flex;
  padding: 4px 10px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: fit-content;

  div {
    background-image: url(/assets/icons/add_circle.svg);
    background-size: cover;
    padding-left: 25px;
    height: 24px;
  }

  a {
    color: var(--Black, #000);
    font-size: 18px;
  }

  &:hover {
    div {
      background-image: url(/assets/icons/add_circle_blue.svg);
    }

    a {
      color: var(--Purple-3, #535af1);
    }
  }
}

.directmessages-menu {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}

.dm-container {
  height: 430px;
  overflow: scroll;
}

.dm-container-head {
  background: white !important;
  padding: 3px 0px !important;
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
}

.dm-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon-expansion {
    background-image: url(/assets/icons/arrow_drop_down.svg);
    background-position: center;
    padding-right: 15px;
    transform: rotate(-90deg);
  }

  .icon-account {
    background-image: url(/assets/icons/account_circle.svg);
    padding-right: 10px;
    background-size: 24px;
  }

  .channels-title {
    color: var(--Black, #000);
    font-size: 20px;
  }

  &:hover {
    .channels-title {
      color: var(--Purple-3, #535af1);
    }

    .icon-account {
      background-image: url(/assets/icons/account_circle_blue.svg);
    }

    .icon-expansion {
      background-image: url(/assets/icons/arrow_drop_down_blue.svg);
    }
  }

  &.clicked {
    .icon-expansion {
      transform: rotate(0deg);
    }
  }
}

.channel-member {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 20px;
  border-radius: 35px;
  cursor: pointer;

  .channel-photo {
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    position: relative;
  }

  span {
    color: var(--Black, #000);
    font-size: 18px;
  }

  &:hover {
    span {
      color: var(--Purple-3, #535af1);
    }
    background: var(--Bg-color, #eceefe);
    border-radius: 35px;
  }
}

.online {
  width: 14px;
  height: 14px;
  background-color: var(--online-green, #92c83e);
  z-index: 100;
  display: flex;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  right: 0;
}
