<div class="position-profil-contant">
    <div class="profil-header">
        <div>
            Profil
        </div>
        <div class="close" (click)="closeDialog()">
            <img src="../../assets/icons/close.svg">
        </div>
    </div>
    <div class="profil-img">
        <img src="../../assets/profil-img/Profile bild.svg" alt="">
    </div>

    <div class="profil-name">
        <div class="name">
            <img src="../../assets/icons/account_circle.svg" alt="">
            Vollständiger Name
        </div>
        <div>
            <input type="text" placeholder="Frederik Beck">
        </div>
    </div>

    <div class="profil-email">
       <div>
        <img src="../../assets/icons/mail.svg" alt="">
        E-Mail-Adresse
       </div> 
        <div>
            <input type="email" placeholder="fred.beck@email.com">
        </div>
    </div>

    <div class="position-btn">
        <button class="btn-cancel">Abbrechen</button>
        <button class="btn-save">Speichern</button>
    </div>
</div>