<!--Main chat-head channel-->
<div class="head-member-container" *ngIf="isChannelVisible">
  <div class="head-title-channel" (click)="editChannel()"
    [style.background-color]="isEditChannelOpen() ? 'var(--Bg-color, #eceefe)' : 'initial'">
    <div class="title-channel">
      <div class="title-hashtag">
        <div class="hashtag"
          [style.background-image]="isEditChannelOpen() ? 'url(/assets/icons/tag_blue.svg)' : 'url(/assets/icons/tag.svg)'">
        </div>
        <span class="title font700-normal"
          [style.color]="isEditChannelOpen() ? '#535af1' : 'initial'">Entwicklerteam</span>
        <div class="head-arrow-cont">
          <div
            [style.background-image]="isEditChannelOpen() ? 'url(/assets/icons/keyboard_arrow_down_blue.svg)' : 'url(/assets/icons/keyboard_arrow_down.svg)'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="members-add-container">
    <div class="members-cont" (click)="showMembers()">
      <div class="members">
        <img src="assets/profil-img/profile_bild.svg">
        <img src="assets/profil-img/profile_bild.svg">
        <img src="assets/profil-img/profile_bild.svg">
      </div>
      <span class="font600-normal">1</span>
    </div>
    <div class="add-member-cont" (click)="addMembers()">
      <div></div>
    </div>
  </div>
</div>

<!--Main chat-head new chat-->
<div class="head-new-message-cont" *ngIf="isNewMessageVisible">
  <div class="head-new-message-title">
    <span class="font700-normal">Neue Nachricht</span>
  </div>
  <div class="head-new-message-searchbar" [class.focused]="isFocused">
    <input type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse" (focus)="inputFocused()"
      (blur)="inputBlurred()">
  </div>
</div>

<div class="head-new-direct-message-cont" *ngIf="isPrivateChatVisible">
  <div class="head-new-direct-message">
    <div class="new-direct-message-img">
      <div class="img">
        <div class="online"></div>
      </div>
    </div>
    <span class="font700-normal">Frederick Beck(Du)</span>
  </div>
</div>

<div class="chat-container">
  <!--Main chat principal-->
  <div class="inner-container" *ngIf="isChannelVisible" #chatContainer>
    <!--Text for the beginning of creating a channel.-->
    <div class="beginning-chat-cont">
      <div class="title-hashtag">
        <div class="hashtag">
        </div>
        <span class="title font700-normal">Entwicklerteam</span>
      </div>
      <div class="beginning-description">
        <span class="font400-normal descrip-text">Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
          <span class="font400-normal"><a style="font-size: 22px;">#</a>&nbsp;<a>Office-team</a>.</span>
        </span>
      </div>
    </div>

    <!--Container for the member's chat-->
    <div class="message-members-box-cont">
      <div class="message-reaction-people">
        <div class="reaction-icon">
          <div class="icon-tick"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-hands"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-smile"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-message"></div>
        </div>
      </div>
      <div class="message-user-img">
        <div></div>
      </div>
      <div class="message-members-box">
        <div class="message-user-name">
          <a class="font700-normal">Noah Braun</a>
          <span class="font400-normal">14:25 Uhr</span>
        </div>
        <div class="message-members-speech">
          <span class="font400-normal">Welche Version ist aktuell von Angular?</span>
        </div>
        <div class="message-members-answers">
          <span class="font400-normal">2 Antworten</span>
          <a class="font400-normal">Letzte Antwort 14:56</a>
        </div>
      </div>
    </div>
    <div class="message-members-box-cont">
      <div class="message-reaction-people">
        <div class="reaction-icon">
          <div class="icon-tick"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-hands"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-smile"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-message"></div>
        </div>
      </div>
      <div class="message-user-img">
        <div></div>
      </div>
      <div class="message-members-box">
        <div class="message-user-name">
          <a class="font700-normal">Noah Braun</a>
          <span class="font400-normal">14:25 Uhr</span>
        </div>
        <div class="message-members-speech">
          <span class="font400-normal">Welche Version ist aktuell von Angular?</span>
        </div>
        <div class="message-members-answers">
          <span class="font400-normal">2 Antworten</span>
          <a class="font400-normal">Letzte Antwort 14:56</a>
        </div>
      </div>
    </div>

    <!--Time-line-->
    <div class="time-separator">
      <div class="time-line">
      </div>
      <div class="time-day">
        <span class="font400-normal">Monday, 2 Oktober</span>
      </div>
    </div>

    <!--Container for the user's chat-->
    <div class="message-user-box-cont">
      <div class="message-reaction-people">
        <div class="reaction-icon">
          <div class="icon-tick"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-hands"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-smile"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-message"></div>
        </div>
        <div class="reaction-icon">
          <div class="icon-points"></div>
        </div>
      </div>
      <div class="message-user-box">
        <div class="message-user-name">
          <span class="font400-normal">15:06 Uhr</span>
          <a class="font700-normal">Frederick Beck</a>
        </div>
        <div class="message-user-speech">
          <span class="font400-normal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ab illum, nemo
            quaerat non ut corporis sapiente? Ipsa placeat nemo eos nobis, fuga deleniti cum sapiente alias ratione
            similique esse.</span>
        </div>
        <div class="message-user-reaction">
          <div>
            <div class="reaction">
              <div class="reaction-usser">
                <div class="reaction-usser-icon"></div>
                <div class="reaction-names-cont">
                  <span class="reaction-name font700-normal">Sofia Müller</span>
                  <span class="reaction-text font400-normal">hat reagiert</span>
                </div>
              </div>
              <div class="rocket"></div>
              <span class="font400-normal">1</span>
            </div>
          </div>
          <div>

            <!-- <div class="reaction">
            <div class="tick"></div>
            <span class="font400-normal">1</span>
          </div> -->
          </div>
          <div class="add-reaction">
            <div></div>
          </div>
        </div>
      </div>
      <div class="message-user-img">
        <div></div>
      </div>
    </div>
  </div>

  <!--Container to write private messages-->

  <div class="privat-chat-container" *ngIf="isPrivatChatContainerVisible">
    <div class="beginning-private-chat">
      <div class="private-chat-member" *ngIf="isChatWithMemberVisible">
        <div class="private-message-img">
          <div class="img">
          </div>
        </div>
        <a class="font700-normal">Sofia Müller</a>
      </div>
      <div class="description-private-msg">
        <span class="font400-normal">Diese Unterhaltung findet nur zwischen <a class="font400-normal">@Sofia
            Müller &nbsp;</a>und dir statt.</span>
      </div>
      <div class="private-chat-user" *ngIf="isPrivateChatVisible">
        <div class="private-message-img">
          <div class="img">
          </div>
        </div>
        <a class="font700-normal">Frederick Beck(Du)</a>
      </div>
      <div class="description-private-msg-user">
        <span class="font700-normal">Dieser Raum ist nur für dich da. <a class="font400-normal">ache dir Notizen, liste
            deine To-dos auf oder
            bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst
            besprechen.</a></span>
      </div>
    </div>
  </div>
</div>

<!--Container to write in chat-->
<div class="message-box-cont">
  <div class="message-box" [class.focused]="taIsFocused">
    <textarea class="font400-normal auto-resizable-textarea" placeholder="Nachricht an #Entwicklerteam"
      (input)="onTextareaInput($event)" [(ngModel)]="message" (focus)="inputFocused()" (focus)="textAreaFocused()"
      (blur)="textAreaBlurred()"></textarea>
    <div class="image-preview-cont" #imagePreviewCont>
      <img id="image-preview" #imagePreview />
    </div>

    <div class="send-mesg-box">
      <div class="send-msg-icons">
        <div class="icon-plus icons" (click)="fileInput.click()">
          <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none" />
          <div></div>
        </div>
        <div class="icons-line"></div>
        <div class="icon-s icons" (click)="toggleEmojiPicker()">
          <div></div>
        </div>
        <div>
          <emoji-mart class="emoji-mart" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"
            title="Pick your emoji…"></emoji-mart>
        </div>
        <div class="icon-et icons">
          <div></div>
        </div>
      </div>

      <div class="send-msg"></div>
    </div>
  </div>
</div>