.head-member-container {
  width: -webkit-fill-available;
  display: flex;
  padding: 25px 45px;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--White, #fff);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 30px 30px 0px 0px;
}

.head-title-channel {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 6px 10px;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    .hashtag {
      background-image: url(/assets/icons/tag_blue.svg) !important;
      background-size: cover;
      width: 22px;
      height: 23px;
    }

    .title {
      color: var(--Purple-3, #535af1) !important;
    }

    .head-arrow-cont {
      div {
        background-image: url(/assets/icons/keyboard_arrow_down_blue.svg) !important;
        background-size: cover;
        width: 12px;
        height: 8px;
      }
    }
    background: var(--Bg-color, #eceefe) !important;
  }
}

.title-channel {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.title-hashtag {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  .hashtag {
    background-image: url(/assets/icons/tag.svg);
    background-size: cover;
    width: 22px;
    height: 23px;
  }
  .title {
    font-size: 24px;
    color: black;
  }

  .head-arrow-cont {
    display: flex;
    padding: 2px;
    div {
      background-image: url(/assets/icons/keyboard_arrow_down.svg);
      background-size: cover;
      width: 12px;
      height: 8px;
    }
  }
}

.members-add-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.members-cont {
  display: flex;
  padding: 3px 10px;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  span {
    font-size: 20px;
  }

  &:hover {
    span {
      color: var(--Purple-3, #535af1);
    }
    border-radius: 30px;
    background: var(--Bg-color, #eceefe);
  }
}

.members {
  display: flex;
  height: 40px;
  align-items: flex-start;
  padding-right: 10px;
  flex-shrink: 0;

  img {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    margin-right: -10px;
  }
}

.add-member-cont {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: var(--Bg-color, #eceefe);
  cursor: pointer;

  div {
    background-image: url(/assets/icons/person_add.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
  }

  &:hover {
    div {
      background-image: url(/assets/icons/person_add_blue.svg);
    }
    border-radius: 20px;
    background: var(--Bg-color, #eceefe);
  }
}

.chat-container {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow-y: scroll;
}

.beginning-chat-cont {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  align-self: flex-start;
  position: relative;
}

.beginning-description {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}

.descrip-text {
  gap: 3px;
  font-size: 20px;
  span {
    font-size: 20px;
    a {
      font-size: 20px;
      color: #535af1;
    }
  }

  div {
    background-image: url(/assets/icons/tag_blue.svg);
    background-size: cover;
    width: 16px;
    height: 16px;
  }
}

.time-separator {
  width: -webkit-fill-available;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.time-line {
  background-image: url(/assets/icons/line-time.svg);
  background-size: cover;
  width: 100%;
  height: 1px;
  position: absolute;
}

.time-day {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  background: var(--White, #fff);

  span {
    font-size: 18px;
  }
}

//
.message-box-cont {
  padding: 38px 35px 40px 35px;
  border-radius: 30px;
  width: -webkit-fill-available;
}

.message-box {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 20px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);

  textarea {
    height: 40px;
    max-height: 75px;
    width: 100%;
    font-family: Nunito;
    font-size: 18px !important;
    outline: none;
    border: none;
    color: black;
    resize: none;
    overflow: visible;

    ::placeholder {
      color: #686868;
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.image-preview-cont {
  display: none;
  height: 200px;
  padding: 10px;
  img {
    height: 200px;
  }
}

.send-mesg-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.send-msg-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icons {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.icon-plus {
  div {
    background-image: url(/assets/icons/add-icon.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
  }

  &:hover {
    div {
      background-image: url(/assets/icons/add-icon-blue.svg);
    }
    border-radius: 20px;
    background: var(--Bg-color, #eceefe);
  }
}

.icons-line {
  background-image: url(/assets/icons/vector_4.svg);
  background-size: cover;
  width: 1px;
  height: 40px;
}

.icon-s {
  div {
    background-image: url(/assets/icons/satisfied.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
  }
  &:hover {
    div {
      background-image: url(/assets/icons/satisfied_blue.svg);
    }
    border-radius: 20px;
    background: var(--Bg-color, #eceefe);
  }
}

.icon-et {
  div {
    background-image: url(/assets/icons/et.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
  }

  &:hover {
    div {
      background-image: url(/assets/icons/et_blue.svg);
    }
    border-radius: 20px;
    background: var(--Bg-color, #eceefe);
  }
}

.send-msg {
  background-image: url(/assets/icons/send.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:hover {
    background-image: url(/assets/icons/send_heller.svg);
  }
}

.emoji-mart {
  position: absolute;
  bottom: 30px;
  font-family: Nunito;
  z-index: 100;
}

.message-user-box-cont {
  position: relative;
  display: flex;
  width: -webkit-fill-available;
  padding: 10px 45px 10px 146px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 30px;

  &:hover {
    .message-reaction-people {
      display: flex;
    }
    background: #eceefe;
  }
}

.message-reaction-people {
  display: none;
  padding: 3px 15px 3px 20px;
  align-items: flex-start;
  gap: 5px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  background: var(--White, #fff);
  position: absolute;
  left: 10px;
  top: -20px;
}

.reaction-icon {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  div {
    cursor: pointer;
  }
  &:hover {
    background: var(--Bg-color, #eceefe);
  }
}

.icon-tick {
  background-image: url(/assets/icons/tick.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.icon-hands {
  background-image: url(/assets/icons/hands.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.icon-smile {
  background-image: url(/assets/icons/add_reaction.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  &:hover {
    background-image: url(/assets/icons/add_reaction_blue.svg);
  }
}

.icon-message {
  background-image: url(/assets/icons/comment.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  &:hover {
    background-image: url(/assets/icons/comment_blue.svg);
  }
}

.icon-points {
  background-image: url(/assets/icons/points_black.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  &:hover {
    background-image: url(/assets/icons/points_blue.svg);
  }
}

.message-user-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  flex: 1 0 0;
}

.message-user-name {
  display: flex;
  align-items: center;
  gap: 20px;

  span {
    color: #686868;
    font-size: 14px;
  }

  a {
    color: black;
    font-size: 18px;
  }
}

.message-user-speech {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 30px 0px 30px 30px;
  background: var(--Purple-2, #797ef3);

  span {
    align-self: stretch;
    color: #fff;
    font-size: 18px;
  }
}

.message-user-reaction {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.reaction {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  background: var(--White, #fff);
  cursor: pointer;

  span {
    font-size: 16px;
  }

  &:hover {
    border: 1px solid #444df2;
  }
}

.rocket {
  background-image: url(/assets/icons/rocket.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
}

.tick {
  background-image: url(/assets/icons/tick.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
}

.add-reaction {
  display: flex;
  padding: 5px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: var(--White, #fff);
  cursor: pointer;

  div {
    background-image: url(/assets/icons/add_reaction.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
  }

  &:hover {
    div {
      background-image: url(/assets/icons/add_reaction_blue.svg);
    }
    background: var(--Bg-color, #eceefe);
  }
}

.message-user-img {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border-radius: 35px;
  background: var(--White, #fff);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  div {
    background-image: url(/assets/profil-img/profile_bild.svg);
    background-size: cover;
    width: 70px;
    height: 70px;
  }
}
