/* You can add global styles to this file, and also import other style files */

html,
body {
  height: -webkit-fill-available;
}
body {
  margin: 0;
  font-family: "Nunito" !important;
  background-color: #eceefe;
  padding-top: 75px;
}

.font700-normal {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
